{% extends 'base.html.twig' %}


{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Contenu</th>
                <th>Instructor</th>
                <th>Dance School</th> <!-- Nouvelle colonne pour DanceSchool -->
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.contenu }}</td>
                <td>{{ course.instructor }}</td>
                <td>{{ course.danceSchool.name }}</td> <!-- Affichage du nom de l'école de danse -->
                <td>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td> <!-- Mise à jour du colspan pour 6 colonnes -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_new') }}">Create new</a>
{% endblock %}
