{% extends 'base.html.twig' %}


{% block title %}DanceSchool index{% endblock %}

{% block body %}
    <h1>DanceSchool index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Localisation</th>
                <th>Openday</th>
                <th>Closeday</th>
                <th>Opentime</th>
                <th>Closetime</th>
                <th>Dance Category</th> <!-- Ajout de la colonne pour la catégorie de danse -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dance_school in dance_schools %}
            <tr>
                <td>{{ dance_school.id }}</td>
                <td>{{ dance_school.name }}</td>
                <td>{{ dance_school.localisation }}</td>
                <td>{{ dance_school.openday }}</td>
                <td>{{ dance_school.closeday }}</td>
                <td>{{ dance_school.opentime }}</td>
                <td>{{ dance_school.closetime }}</td>
                <td>{{ dance_school.danceCategory ? dance_school.danceCategory.name : 'N/A' }}</td> <!-- Affichage de la catégorie de danse -->
                <td>
                    <a href="{{ path('app_dance_school_show', {'id': dance_school.id}) }}">show</a>
                    <a href="{{ path('app_dance_school_edit', {'id': dance_school.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td> <!-- Mettre à jour le colspan -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dance_school_new') }}">Create new</a>
{% endblock %}
