{% extends 'base.html.twig' %}

{% block title %}DanceCategory Index{% endblock %}

{% block body %}
    <h1>Dance Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dance_category in dance_categories %}
            <tr>
                <td>{{ dance_category.id }}</td>
                <td>{{ dance_category.name }}</td>
                <td>
                    <a href="{{ path('app_dance_category_show', {'id': dance_category.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('app_dance_category_edit', {'id': dance_category.id}) }}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dance_category_new') }}" class="btn btn-primary">Create New</a>
{% endblock %}
