{% extends 'base.html.twig' %}

{% block title %}DanceCategory{% endblock %}

{% block body %}
    <h1>DanceCategory Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dance_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ dance_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dance_category_index') }}" class="btn btn-secondary">Back to List</a>

    <a href="{{ path('app_dance_category_edit', {'id': dance_category.id}) }}" class="btn btn-warning">Edit</a>

    {{ include('dance_category/_delete_form.html.twig') }}
{% endblock %}
